body{
    font-family: Verdana;
    text-align: center;
}


#myButton{
    font-size: 3em;
    padding: 5px 25px;      /* разстояние до рамката */
    border-radius: 5px;
}


.myLabels{
    font-size: 3em;
}