body{
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #011627;
  color: #FDFFFC;
  text-align: center;
  border: 40px solid #2EC486;
  border-top: 0px;
  margin: 0px;
}

p{
  padding_top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-size: 1.4em;
  margin-bottom: 20px;
}

#sub{
  background-color: #ff9f1c;
  height: 60px;
  width: 150px;
  margin: 6px;
  margin-top: 10px;
  font-size: 0.8em;
  border-radius: 20px;
}
