h1{
  font-family: "Arial";
  text-align: center;
}


p{
  font-family: "Angkor", serif;
  /* font-weight: 400; */
  font-style: normal;
}




#two{
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}
