h1{
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.art{
  margin: auto;
}


td{
  height: 300px;
  width: 150px;
  border: 6px solid white;
}


/* https://coolors.co/ */

#one{
  background-color: #CDB4DB;
}

#two{
  background-color: #FFC8DD;
}

#three{
  background-color: #FFAFCC;
}

#four{
  background-color: #BDE0FE;
}


#five{
  background-color: #A2D2FF;
}
