#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}


#buttonContainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(14, 12, 9);
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}


.buttons:hover{
    background-color: rgb(85, 226, 226);
}